<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Template</title>
</head>
<body>
    <%-include('partials/head') %>
    <div>
        <h1><%=message %></h1>
    </div>
    <%- include('partials/footer')%>
</body>
</html>